module.exports = {
    amqp: {
        connection: {
            host: 'localhost',
            port: 5672,
            vhost: '/',
            username: 'guest',
            password: 'guest'
        },
        exchanges: [{
            name: 'topic_exchange',
            type: 'topic',
            durable: true
        }],
        queues: [{
            durable: true,
            exchange: 'topic_exchange',
            name: 'nodejs-process-bridge.queue',
            routingKeys: ['#'],
            ackByProcessor: true,
            processor: 'echo %message%'
        }, {
            durable: true,
            exchange: 'topic_exchange',
            name: 'nodejs-process-bridge.another_queue',
            routingKeys: ['#'],
            ackByProcessor: false,
            processor: function(message) {
                console.log(message);

                return true;
            }
        }]
    }
};
